// FUNCTIONS
@function bg( $color, $url, $repeat ) {
	@if $url != null {
		@return unquote( $color + ' url(\'' + $url + '\') ' + $repeat );
	}
	@else {
		@return unquote( $color );
	}
}
//------Mixin
@mixin border-radius($border-radius: 5px) {
  -webkit-border-radius: $border-radius;
     -moz-border-radius: $border-radius;
      -ms-border-radius: $border-radius;
       -o-border-radius: $border-radius;
          border-radius: $border-radius;
}
@mixin box-sizing($box-sizing: border-box) {
-webkit-box-sizing: $box-sizing;
-moz-box-sizing: $box-sizing;
box-sizing: $box-sizing;
}