// _RESET
$wrap : 980px;
$container : 100%;
// _COLORS
$bg_color: #fff;
$bg_url: null;
$bg_repeat: repeat;
$text_color: #222;
$link_color: #003399;
$link_color_hv: #0066cc;
$link_color_fc: #000033;
// _LAYOUT
$container_bg_color : #fff;
$container_bg_url : null;
$container_bg_repeat : repeat-y;
// _HEADER
// _MENU
// _CONTENT
// _SIDEBAR
// _FOOTER